<div class="app-order">
  <h1>Order</h1>

  <div class="order">

    <div class="item-list">
      <div class="item" *ngFor="let item of orderList">
        <div class="name">
          <strong>{{item.name}}</strong>
        </div>

        <div class="price">
          {{item.price}} DKK
        </div>
      </div>
    </div>

    <div class="order-footer">
      <div>Total: {{totalPriceStr}}</div>
      <div>
        <button (click)="handleOrder()">Order</button>
      </div>
    </div>

  </div>
</div>
