.app {
  width: 70%;
  margin: 0 auto;
}

.app > main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app > main > .menu {
  padding-right: 0.5rem;
  width: 75%;
}

.app > main > .order {
  padding-left: 0.5rem;
  width: 25%;
}

.app > footer {
  width: 100%;
}
